* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

#degreeConcentration {
    margin: 10px;
}

.row {
    white-space: nowrap;
    margin-bottom: 100px;
    position: relative;
}

.course {
    width: 170px;
    height: 60px;
    background: blue;
    margin: 5px;
    padding: 30px;
    color: white;
    white-space: normal;
    text-align: center;
    align-content: center;
    display: inline-table;
    align-self: center;
    cursor: pointer;
}

.course:focus {
    outline: 5px solid skyblue;
}

.line {
    position: absolute;
    transform-origin: left;
    border-bottom: 2px solid;
    pointer-events: none;
    
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.line.invisible {
    opacity: 0;
}